body{
    margin: 0;
    padding: 0;
}
main{
    /* position: fixed; */
    justify-content: space-between;
    background-color: rgb(0, 168, 104);
    display: flex;
    height: 60px;
    width: 1351px;
    
}
/* Logo */
img{
    margin-left: 20px;
    width: 70px;
    height: 60px;
}
/* Boutons */
button{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    margin-left: 20px;
    cursor: pointer;
    position:relative;
    right: 50px;
}

button:hover{
    color: rgb(0, 168, 104);
    background-color: rgb(38, 115, 134);
    /* border-radius: 40px; */
}
/* Entête */
div{
    display: flex;
    justify-content: space-between;
}
/* Zone de recherche */
input{
    width: 450px;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    margin-top: 10px;
    position: relative;
    left: -3px;
}

p{
    position: relative;
    left: 40px;
    margin-top: center;
    font-size: 40px;
    bottom: 37px;
    left: -23px;
    color: white;
}
rechercher{
    position: relative;
    left: 150px;
}

iframe{
    width: 1350px;
    height: 620px;
    border: none;
    position: absolute;
    right: 0px;
    top: 60px;
}

h1{
    position:absolute;
    font-size: 30px;
    top: 690px;
    left: 450px;
    color: rgb(38, 115, 134);
}

/* Première pharmacie */
.pharmacie1{
    display: flex;
    position:absolute;
    top: 800px;
    left: 15px;
    color: rgb(10, 49, 58);
    width: 290px;
    height: 400px;
    background-color: rgb(20, 184, 212);
    border-radius: 40px;
    border: 1px solid rgb(128, 128, 128);
}

h2{
    text-align: center;
    font-size: 22px;
    margin-top: 20px;
    color: rgb(17, 85, 102);
    position: relative;
    right: -15px;
}

/* Deuxième pharmacie */
.pharmacie2{
    background-color: rgb(20, 184, 212);
    width: 290px;
    height: 400px;
    display: flex;
    position:absolute;
    top: 800px;
    left: 350px;
    border-radius: 40px;
}
h3{
    text-align: center;
    font-size: 22px;
    margin-top: 20px;
    color: rgb(17, 85, 102);
    position: relative;
    right: -29px;
}
/* Troisième pharmacie */
.pharmacie3{
    background-color: rgb(20, 184, 212);
    width: 290px;
    height: 400px;
    display: flex;
    position:absolute;
    top: 800px;
    left: 685px;
    border-radius: 40px;
}

/* Quatrième pharmacie */
.pharmacie4{
    background-color: rgb(20, 184, 212);
    width: 290px;
    height: 400px;
    display: flex;
    position:absolute;
    top: 800px;
    left: 1020px;
    border-radius: 40px;
}
/* Cinquième pharmacie */
.pharmacie5{
    background-color: rgb(20, 184, 212);
    width: 290px;
    height: 400px;
    display: flex;
    position:absolute;
    top: 1225px;
    left: 15px;
    border-radius: 40px;
}
/* Sixième pharmacie */
.pharmacie6{
    background-color: rgb(20, 184, 212);
    width: 290px;
    height: 400px;
    display: flex;
    position:absolute;
    top: 1225px;
    left: 350px;
    border-radius: 40px;
}
/* Septième pharmacie */
.pharmacie7{
    background-color: rgb(20, 184, 212);
    width: 290px;
    height: 400px;
    display: flex;
    position:absolute;
    top: 1225px;
    left: 685px;
    border-radius: 40px;
}
/* Huitième pharmacie */
.pharmacie8{
    background-color: rgb(20, 184, 212);
    width: 290px;
    height: 400px;
    display: flex;
    position:absolute;
    top: 1225px;
    left: 1020px;
    border-radius: 40px;
}
/* Neuvième pharmacie */
.pharmacie9{
    background-color: rgb(20, 184, 212);
    width: 290px;
    height: 400px;
    display: flex;
    position:absolute;
    top: 1650px;
    left: 15px;
    border-radius: 40px;
}
/* Dixième pharmacie */
.pharmacie10{
    background-color: rgb(20, 184, 212);
    width: 290px;
    height: 400px;
    display: flex;
    position:absolute;
    top: 1650px;
    left: 350px;
    border-radius: 40px;
}
/* Onzième pharmacie */
.pharmacie11{
    background-color: rgb(20, 184, 212);
    width: 290px;
    height: 400px;
    display: flex;
    position:absolute;
    top: 1650px;
    left: 685px;
    border-radius: 40px;
}
/* Douzième pharmacie */
.pharmacie12{
    background-color: rgb(20, 184, 212);
    width: 290px;
    height: 400px;
    display: flex;
    position:absolute;
    top: 1650px;
    left: 1020px;
    border-radius: 40px;
}
/* Treizième pharmacie */
.pharmacie13{
    background-color: rgb(20, 184, 212);
    width: 290px;
    height: 400px;
    display: flex;
    position:absolute;
    top: 2075px;
    left: 15px;
    border-radius: 40px;
}
/* Quatorzième pharmacie */
.pharmacie14{
    background-color: rgb(20, 184, 212);
    width: 290px;
    height: 400px;
    display: flex;
    position:absolute;
    top: 2075px;
    left: 350px;
    border-radius: 40px;
}
/* Quinzième pharmacie */
.pharmacie15{
    background-color: rgb(20, 184, 212);
    width: 290px;
    height: 400px;
    display: flex;
    position:absolute;
    top: 2075px;
    left: 685px;
    border-radius: 40px;
}